<% content_for :content do %>
  <div class="columns">
    <div class="column is-one-third">
      <aside class="menu">
        <p class="menu-label">Messages</p>
        <ul class="menu-list">
          <li><%= link_to "Compose", new_message_path %></li>
          <li><%= link_to "Inbox", inbox_messages_path %></li>
          <li><%= link_to "Sent", sent_messages_path %></li>
        </ul>
      </aside>
    </div>

    <div class="column">
      <%= yield %>
    </div>
  </div>
<% end %>

<%= render file: "layouts/application" %>